[Unit]
Description = Web App for Landing Page of the Robot which monitors battery and controls battery and other systems states
After=network.target

[Service]
ExecStart = /bin/bash /home/smur1.2/robot-landing-page/landing_page.sh
WorkingDirectory =/home/smur1.2/robot-landing-page
Restart=always
User=smur1.2
Group=smur1.2

[Install]
WantedBy=multi-user.target
