[Unit]
Description = Web App for Landing Page of the Robot which monitors battery and controls battery and other systems states
After=network.target

[Service]
ExecStart=/bin/bash /home/smur2.0_001/robot-landing-page/landing_page.sh
WorkingDirectory= /home/smur2.0_001/robot-landing-page
Restart=always
User=%u
Group=%u

[Install]
WantedBy=multi-user.target
