[Unit]
Description = Web App for Landing Page of the Robot which monitors battery and controls battery and other systems states
After=network.target

[Service]
ExecStart = /bin/bash $HOME/robot-landing-page/landing_page.sh
WorkingDirectory =$HOME/robot-landing-page
Restart=always
User=$USER
Group=$USER

[Install]
WantedBy=multi-user.target
